<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>

		{{> story/intro }}
		<div class='viz-wrapper'>
			<h3 class='viz-subhed'>k Nearest Neighbours</h3>
			{{> story/nearest-neighbor }}
		</div>
		{{> story/textblock2 }}
		<div class='viz-wrapper'>
			<h3 class='viz-subhed'>Language Model with Example Data</h3>
			{{> story/models }}
		</div>
		{{> story/textblock3 }}
		<div class='viz-wrapper'>
			<h3 class='viz-subhed'>Language Model with User Data</h3>
			{{> story/eval }}
		</div>
		{{> story/textblock4 }}
		<div class='viz-wrapper'>
			<h3 class='viz-subhed'>Language Model with 'Friend' Data</h3>
			{{> story/sociolect }}
		</div>
		{{> story/closing }}

	</main>


	<script src='{{basepath}}assets/scripts/d3.v5.8.0.min.js'></script>
	<script src='assets/scripts/jquery.min.js'></script>
	<script src="assets/scripts/example_tweets.js" type="text/javascript"></script>
	<script src="assets/scripts/nearest_neighbours.js" type="text/javascript"></script>
	<script src="assets/scripts/eval_scores_per_language_model.js" type="text/javascript"></script>
	<script src="assets/scripts/sociolect_scores_per_language_model.js" type="text/javascript"></script>
	<script src="assets/scripts/scores_per_tweet.js" type="text/javascript"></script>
	<script src="assets/scripts/predictions_per_language_model.js" type="text/javascript"></script>

	<script src="assets/scripts/neighbours_visualization.js" type="text/javascript"></script>
	<script src="assets/scripts/models_visualization.js" type="text/javascript"></script>
	<script src="assets/scripts/eval_visualization.js" type="text/javascript"></script>
	<script src="assets/scripts/sociolect_visualization.js" type="text/javascript"></script>

	<script src='bundle.js?version={{timestamp}}' async></script>
	<script src='https://pudding.cool/assets/scripts/pudding-footer.v2.js' async></script>
</body>

</html>
