/* CUSTOM STORY STYLE */
@css {
		body
	{
		background-color: hsla(0, 4%, 96%, 1);
	}

	.header
	{
	    background: white;
		font-family: 'Muli';
	    padding-bottom: 120px;
	}

	.header a
	{
	    position: relative;
	    top: 12px;
	    left: 12px;
	    text-decoration: none;
	    color: hsl(0, 0%, 48%);
	    font-size: 20px;
	}

	#main
	{
		width: 800px;
		margin: auto;
		font-family: 'Montserrat', serif;
		line-height: 1.85;
		letter-spacing: 0.5;
		font-size:15px;
		color: hsla(0, 0%, 0%, 0.6);
	}

	.lead
	{
		font-weight: 700;
	    letter-spacing: 1.5;
		line-height: 1.65;
	    font-size:18px;
		color: hsla(0, 0%, 0%, 0.7);
	}

	p
	{
		margin-top: 35px;
	}

	h1
	{
	    padding-top: 65px;
	    padding-bottom: 40px;
	    font-size: 75px;
	    color: black;
	    font-weight: 200;
	    letter-spacing: 14px;
	}

	.author_area
	{
	    width: 500px;
	    margin: auto;
	    margin-top: -55px;
	    display: flex;
	}

	.author
	{
	    width: 240px;
	    float: left;
	}

	.name
	{
		font-family: 'Montserrat';
	    font-weight: 700;
	    font-size: 20px;
	    color: rgb(39, 167, 231);
	    text-align: center;
	}

	.origin
	{
		font-style: italic;
	    color: hsla(4, 89%, 62%, 1);
	}

	img.avatar
	{
	    position: relative;
	    width: 100px;
	    border-radius:50px;
	    left: 65px;
	}

	@media only screen and (max-width: 500px)
	{
		#main
		{
			width: 70vw;
		}
	}

	#first_character {
	  font-family: 'Libre Baskerville', sans-serif;
	  color: rgb(39, 167, 231);
	  float: left;
	  font-size: 75px;
	  line-height: 60px;
	  padding-top: 15px;
	  padding-right: 8px;
	  padding-left: 3px;
	}
}

.textblock__bullets
	line-height 1.65

	ul
		list-style-type circle
		list-style-position outside
		padding 0 3rem

		li
			set-type-size(root)
			+mq('bp-3')
				set-type-size(medium)

.intro__prose, .textblock
	max-width $column-width
	margin 0 auto
	padding 0 1rem

.intro__block
	width 100%
	height calc(100vh - 3rem)
	background-color $off-black
	position relative

.intro__hed
	height 22rem
	margin 3rem 0 0 0
	padding 2rem
	color $off-white
	line-height 0.65
	text-align left
	+mq('bp-3')
		line-height 0.75
		max-width 30rem
		height 40rem
	+mq('bp-4')
		line-height 1.2
		max-width 60rem

.intro__typing
	font-family $national
	set-type-size(xxxx-large)
	letter-spacing 0
	line-height 0.8
	+mq('bp-2-5')
		set-type-size(xxxxx-large)
		line-height 1.1
	+mq('bp-3')
		set-type-size(x6-large)
		line-height 1.1
	+mq('bp-4')
		set-type-size(x7-large)
	+mq('bp-5')
		line-height 1.2
		set-type-size(xSUPER-large)

.intro
	.blink
		set-type-size(xxxx-large)
		line-height 0.7
		border-right 1px solid $off-white
		margin-top 1rem
		animation blink 1s infinite
		+mq('bp-2-5')
			set-type-size(xxxxx-large)
			line-height 1
		+mq('bp-3')
			set-type-size(x6-large)
			line-height 1
		+mq('bp-4')
			set-type-size(x7-large)
		+mq('bp-5')
			set-type-size(xSUPER-large)
			line-height 1.1

.blink
	border-right 1px solid $off-black
	//padding-left 1rem
	animation blink 1s infinite

.stop
	animation none
	border-right none

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

.intro__deets
	display flex
	flex-direction column
	width 100%
	padding 2rem
	position absolute
	bottom 0
	+mq('bp-3')
		flex-direction row
		height 8rem
		justify-content space-between

	.more-icon
		width 3rem
		padding-top 1rem
		margin-left -0.5rem
		animation bounce 1s infinite
		+mq('bp-3')
			padding-top 0.5rem

		svg
			width 100%
			fill $gray-dark

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.intro__byline
	width 100%
	font-family $national
	text-align left
	margin 1rem 0 0 0
	color $off-white

	a
		text-transform uppercase
		border-bottom 1px solid rgb(39, 167, 231)
		color rgb(39, 167, 231)

.intro__time
	font-family $national
	color $off-white

.viz-wrapper
	max-width $column-width
	margin 0 auto

.viz-subhed
	margin 3rem 1rem 0 1rem
	font-family $national
	font-weight 600
	set-type-size(x-large)
	+mq('bp-3')
		set-type-size(xx-large)

.list-name
	font-weight 600
	font-family $national
