/* CUSTOM STORY STYLE */
@css {
		body
	{
		background-color: hsla(0, 4%, 96%, 1);
	}

	.header
	{
	    background: white;
		font-family: 'Muli';
	    padding-bottom: 120px;
	}

	.header a
	{
	    position: relative;
	    top: 12px;
	    left: 12px;
	    text-decoration: none;
	    color: hsl(0, 0%, 48%);
	    font-size: 20px;
	}

	a, a:hover, a:visited
	{
		color: rgb(39, 167, 231);
	}

	#main
	{
		width: 800px;
		margin: auto;
		font-family: 'Montserrat', serif;
		line-height: 1.85;
		letter-spacing: 0.5;
		font-size:15px;
		color: hsla(0, 0%, 0%, 0.6);
	}

	.lead
	{
		font-weight: 700;
	    letter-spacing: 1.5;
		line-height: 1.65;
	    font-size:18px;
		color: hsla(0, 0%, 0%, 0.7);
	}

	p
	{
		margin-top: 35px;
	}

	h1
	{
	    padding-top: 65px;
	    padding-bottom: 40px;
	    font-size: 75px;
	    color: black;
	    font-weight: 200;
	    letter-spacing: 14px;
	}

	.author_area
	{
	    width: 500px;
	    margin: auto;
	    margin-top: -55px;
	    display: flex;
	}

	.author
	{
	    width: 240px;
	    float: left;
	}

	.name
	{
		font-family: 'Montserrat';
	    font-weight: 700;
	    font-size: 20px;
	    color: rgb(39, 167, 231);
	    text-align: center;
	}

	.origin
	{
		font-style: italic;
	    color: hsla(4, 89%, 62%, 1);
	}

	img.avatar
	{
	    position: relative;
	    width: 100px;
	    border-radius:50px;
	    left: 65px;
	}

	@media only screen and (max-width: 500px)
	{
		#main
		{
			width: 70vw;
		}

		h1
		{
			font-size: 100px;
		}
	}

	#first_character {
	  font-family: 'Libre Baskerville', sans-serif;
	  color: rgb(39, 167, 231);
	  float: left;
	  font-size: 75px;
	  line-height: 60px;
	  padding-top: 15px;
	  padding-right: 8px;
	  padding-left: 3px;
	}
}

.intro, .textblock
	max-width $column-width
	margin 0 auto
