<div class="visualization" id="eval_vis">

	<div class="visualization_section">
		<div class="section_title">Pick a Twitter account</div>
		<div class='profile-wrapper'>
			<div><img class="user_select profile_picture selected" user="barackobama" src="assets/img/barackobama.jpg"></div>
			<div><img class="user_select profile_picture" user="jtimberlake" src="assets/img/jtimberlake.jpg"></div>
			<div><img class="user_select profile_picture" user="kimkardashian" src="assets/img/kimkardashian.jpg"></div>
			<div><img class="user_select profile_picture" user="ladygaga" src="assets/img/ladygaga.jpg"></div>
		</div>
	</div>

	<div class="visualization_section">
		<div class="section_title">Pick a Language model</div>

		<table>
			<tr>
				<td>
					<img class="predictor_picture profile_picture model_select selected" src="">
				</td>
				<td class="bar_column">
					<div class="predictor_name"></div>
					<div class="bar"></div>
					<div class="predictor_score"></div>
				</td>
			</tr>

			<tr>
				<td>
					<img class="predictor_picture profile_picture model_select" src="">
				</td>
				<td class="bar_column">
					<div class="predictor_name"></div>
					<div class="bar"></div>
					<div class="predictor_score"></div>
				</td>
			</tr>

			<tr>
				<td>
					<img class="predictor_picture profile_picture model_select" src="">
				</td>
				<td class="bar_column">
					<div class="predictor_name"></div>
					<div class="bar"></div>
					<div class="predictor_score"></div>
				</td>
			</tr>

			<tr>
				<td>
					<img class="predictor_picture profile_picture model_select" src="">
				</td>
				<td class="bar_column">
					<div class="predictor_name"></div>
					<div class="bar"></div>
					<div class="predictor_score"></div>
				</td>
			</tr>

			<tr>
				<td>
					<img class="predictor_picture profile_picture model_select" src="">
				</td>
				<td class="bar_column">
					<div class="predictor_name"></div>
					<div class="bar"></div>
					<div class="predictor_score"></div>
				</td>
			</tr>

			<tr>
				<td>
					<img class="predictor_picture profile_picture model_select" src="">
				</td>
				<td class="bar_column">
					<div class="predictor_name"></div>
					<div class="bar"></div>
					<div class="predictor_score"></div>
				</td>
			</tr>

			<tr>
				<td>
					<img class="predictor_picture profile_picture model_select" src="">
				</td>
				<td class="bar_column">
					<div class="predictor_name"></div>
					<div class="bar"></div>
					<div class="predictor_score"></div>
				</td>
			</tr>

		</table>
	</div>

	<div class="visualization_section">
		<div class="section_title">Pick Example tweet</div>
		<div class="tweet_select_area">
			<a class="tweet_select selected" tweet_index=1>1</a>
			<a class="tweet_select" tweet_index=2>2</a>
			<a class="tweet_select" tweet_index=3>3</a>
			<a class="tweet_select" tweet_index=4>4</a>
			<a class="tweet_select" tweet_index=5>5</a>
		</div>
		<div class="embedded_tweet_area"></div>
	</div>

	<div class="visualization_section">
		<div class='predicted_tweet_percentage'></div>
		<div class="percentage_explanation" id="percentage_explanation">of the characters in this tweet were correctly
			predicted by the language model of @barackobama</div>
		<div class='predicted_tweet'></div>
	</div>
</div>