<div class="visualization" id="neighbours_vis">

	<div class="visualization_section">
		<div class="section_title">Pick a Twitter account</div>
		<div class='profile-wrapper'>
			<div><img class="user_select profile_picture selected" user="barackobama" src="assets/img/barackobama.jpg"></div>
			<div><img class="user_select profile_picture" user="jtimberlake" src="assets/img/jtimberlake.jpg"></div>
			<div><img class="user_select profile_picture" user="kimkardashian" src="assets/img/kimkardashian.jpg"></div>
			<div><img class="user_select profile_picture" user="ladygaga" src="assets/img/ladygaga.jpg"></div>
		</div>
	</div>

	<div class="visualization_section">
		<div class="section_title">Pick an example tweet</div>
		<div class="tweet_select_area">
			<a class="tweet_select selected" tweet_index=1>1</a>
			<a class="tweet_select" tweet_index=2>2</a>
			<a class="tweet_select" tweet_index=3>3</a>
			<a class="tweet_select" tweet_index=4>4</a>
			<a class="tweet_select" tweet_index=5>5</a>
		</div>
		<div class="embedded_tweet_area"></div>
	</div>

	<div class="visualization_section">
		<div class="section_title">Slide back and forth</div>
		<div class="slider_area">
			<div class="arrow_left"></div><input type="range" min="1" max="10" value="2" class="slider"
				id="neighbours_progress_slider"></input>
			<div class="arrow_right"></div>
		</div>
		<p class="predicted_text">This is|</p>
	</div>

	<div class="visualization_section">
		<div class="section_title">Best matching group of words from history</div>
		<div class="neighbours_section"></div>
	</div>
</div>