<div class='textblock'>
	<div class='textblock__prose'>
		{{#each doc.textblock4-before}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
	<div class='textblock__bullets'>
		<ul>
			{{#each doc.textblock4-bullets}}
			<li><span class='list-name'>@{{{name}}}: </span><span clas='list-test'>{{{text}}}</span></li>
			{{/each}}
		</ul>
	</div>
	<div class='textblock__prose'>
		{{#each doc.textblock4-after}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</div>
